body {
    /* we are using Inter font, but there are fallbacks listed */
    font-family: 'Inter', Arial, Helvetica, sans-serif; 
}
h1{
    padding-left:175px;
    padding-right:175px;
}
.searchBar{
    background-color:#4ABDAC;
    height: 55px;
    line-height:55px;
    padding-left:175px;
    padding-right:175px;
    margin:auto;
}

.searchBar input {
    border-radius:20px;
    width:20%;
    height: 2em;
    text-indent: 15px;
    border:none;
    margin-right: 10px;
}

input[type=submit] {
    width:15%;
    background-color:#FC4A1A;
    color:white;
    text-indent:0px;
    margin:auto;
    height:2em;

}
input[type=submit]:active {
    outline:auto;
}


.UserBox {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;

    border-radius:20px;
    background-color:#D9D9D9;
    margin-left:175px;
    margin-right:175px;
    margin-top:75px;
    padding:10px;
}

.UserBox .lastLine {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.UserBox p {
    margin: 0;
    padding: 0.5em;
}

.UserBox button, .UserEdit button   {
    border-radius:20px;
    background-color:#FC4A1A;
    color:white;
    border:none;
    width:15%;
    height:34.5px;
    align-self:flex-end;
    font-weight:bold;
    font-size:1em;

}

.UserBox button:active, .UserEdit button:active  {
    outline:auto;
}

.UserBox .Name {
    font-weight:700;
    font-size:large;
    padding-bottom: 1em;

}

.UserEdit {
    border-radius:20px;
    background-color:#F5F5F5;
    margin-left:175px;
    margin-right:175px;
    margin-top:75px;
    padding:10px;
}

.ChangeTextInputs {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}

.UserEdit input[type=text] {
    background-color:#D9D9D9;
    margin-top: 10px;
    text-indent: 15px;
    border:none;
    /* margin-right: 10px; */
    height: 2em;
}

.UserEdit .SaveDeleteButtons {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:10px;
}

.UserEdit input[type=submit] {
    background-color:#4ABDAC;
    color:white;
    text-indent:0px;
    margin:0px;
    border-radius:20px;
    border:none;

    width:15%;
    height:34.5px;
    /* align-self:flex-end; */
    font-weight:bold;
    font-size:1em;
}
/* 
.UserEdit .SaveDeleteButtons button {
    align-self:flex-start;
} */


@media only screen and (max-width:900px) {
    .searchBar {
        height:auto;
        padding-left:15px;
        padding-right:15px;
        line-height:45px;
    }
    .searchBar input, .searchBar input[type=submit] {
        width:100%;
        margin:auto;
    }

    .UserBox {
        margin-left:auto;
        margin-right:auto;
    }

    .UserEdit {
        margin-left:auto;
        margin-right:auto;
    }
}