body {
    /* we are using Inter font, but there are fallbacks listed */
    font-family: 'Inter', Arial, Helvetica, sans-serif; 
}
#breadcrumb {
    margin-left:175px;
    margin-right:175px;
}
.successBox {
    border-radius:20px;
    background-color:#EDEDED;
    margin-left:175px;
    margin-right:175px;
    padding:10px;
    padding-top:40px;
    padding-bottom:40px;
    display:flex;
    flex-direction:row;
    justify-content: center;
}

button {
    margin-left:175px;
    margin-right:175px;
    margin-top:60px;
    border-radius: 20px;
    border:none;
    width:auto;
    padding-left:20px;
    padding-right:20px;
    background-color:#FC4A1A;
    color:white;
    text-indent:0px;
    height:2.5em;
    /* font-size:1em; */
}

@media only screen and (max-width:900px) {
    .successBox, button {
        margin-left:auto;
        margin-right:auto;
    }
    #breadcrumb{
        margin-left:0px;
        margin-right:0px;
    }
}