body {
    /* we are using Inter font, but there are fallbacks listed */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.contentWrapper {
    padding-top: 100px;
    min-height: 100vh;
    /* margin-bottom: -3000px; */
}



h1 {
    padding-left: 175px;
    padding-right: 175px;
}

.searchBar {
    background-color: #4ABDAC;
    height: 55px;
    line-height: 55px;
    padding-left: 175px;
    padding-right: 175px;
    margin: auto;
}

.searchBar input {
    border-radius: 20px;
    width: 20%;
    height: 2em;
    text-indent: 15px;
    border: none;
    margin-right: 10px;
}

input[type=submit] {
    width: 15%;
    background-color: #FC4A1A;
    color: white;
    text-indent: 0px;
    margin: auto;
    height: 2em;

}

input[type=submit]:active {
    outline: auto;
}


.UserBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 20px;
    background-color: #D9D9D9;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 75px;
    padding: 10px;
}

.UserBox .lastLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.UserBox p {
    margin: 0;
    padding: 0.5em;
}

.UserBox button,
.UserEdit button {
    border-radius: 20px;
    background-color: #FC4A1A;
    color: white;
    border: none;
    width: 15%;
    height: 34.5px;
    align-self: flex-end;
    font-weight: bold;
    font-size: 1em;

}

.UserBox button:active,
.UserEdit button:active {
    outline: auto;
}

.UserBox .Name {
    font-weight: 700;
    font-size: large;
    padding-bottom: 1em;

}

.UserEdit {
    border-radius: 20px;
    background-color: #EDEDED;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 75px;
    padding: 10px;
}

.ChangeTextInputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.UserEdit input[type=text] {
    background-color: #FFFFFF;
    margin-top: 10px;
    text-indent: 15px;
    border: none;
    /* margin-right: 10px; */
    height: 2em;
}

.UserEdit .SaveDeleteButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.UserEdit input[type=submit] {
    background-color: #4ABDAC;
    color: white;
    text-indent: 0px;
    margin: 0px;
    border-radius: 20px;
    border: none;

    width: 15%;
    height: 34.5px;
    /* align-self:flex-end; */
    font-weight: bold;
    font-size: 1em;
}

#notFound {
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 10px;
    background-color: #F7B733;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#notFound p {
    color: white;
}

/*
.UserEdit .SaveDeleteButtons button {
    align-self:flex-start;
} */

.nextPageButtons {
    padding-left: 175px;
    padding-right: 175px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nextPageButtons button {
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.nextPageButtons button:active {
    outline: auto;
}

.nextPageButtons .next {
    margin-left: auto;
    display: none;
}

.nextPageButtons .previous {
    display: none;
}

.usersPages {
    padding-left: 15px;
    padding-right: 175px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.usersPages #numberOfUsers {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.usersPages #numberOfUsers p:first-child {
    margin-right: 40px;
}

.hidden {
    display: none;
}

.nextPageButtons button {
    border-radius: 20px;
    border: none;
    width: auto;
    background-color: #FC4A1A;
    color: white;
    height: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}


@media only screen and (max-width:900px) {
    .usersPages {
        margin: 0px;
    }

    .searchBar {
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 45px;
    }

    .nextPageButtons {
        padding-left: 0;
        padding-right: 0;
    }

    .postsPages {
        padding: 0px;
    }

    #notFound {
        margin-left: 0;
        margin-right: 0;
    }

    .searchBar input,
    .searchBar input[type=submit] {
        width: 100%;
        margin: auto;
    }

    .UserBox {
        margin-left: auto;
        margin-right: auto;
    }

    .UserEdit {
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        padding: 0px;
    }
}