body {
    /* we are using Inter font, but there are fallbacks listed */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1 {
    padding-left: 175px;
    padding-right: 175px;
}

.contentWrapper {
    padding-top: 100px;
    min-height: 100vh;
    /* margin-bottom: -3000px; */
}


.searchBar {
    background-color: #4ABDAC;
    height: 55px;
    line-height: 55px;
    padding-left: 175px;
    padding-right: 175px;
    margin: auto;
}

.searchBar input {
    border-radius: 20px;
    width: 20%;
    height: 2em;
    text-indent: 15px;
    border: none;
    margin-right: 10px;
}

input[type=submit] {
    width: 15%;
    background-color: #FC4A1A;
    color: white;
    text-indent: 0px;
    margin: auto;
    height: 2em;

}

input[type=submit]:active,
.organisationEdit input[type=submit]:active,
button:active {
    outline: auto;
}

.organisationEdit button,
#confirmBox .confirmButtons .confirmDelete {
    border-radius: 20px;
    background-color: #FC4A1A;
    color: white;
    border: none;
    width: auto;
    height: 34.5px;
    align-self: flex-end;
    font-weight: bold;
    font-size: 1em;

}

.organisationEdit button:active {
    outline: auto;
}

.organisationEdit {
    border-radius: 20px;
    background-color: #EDEDED;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 75px;
    padding: 10px;
    /* display:none; */
    /* display:none; */
}

.changeTextInputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.organisationEdit input[type=text],
.organisationEdit textarea {
    background-color: #FFFFFF;
    margin-top: 10px;
    text-indent: 15px;
    border: none;
    height: 2em;
}

.organisationEdit textarea {
    resize: none;
    height: 8em;
    text-indent: 0px;
    padding: 15px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/*
#characterCount {
    color:#6e6e6e;
    position:absolute;
    bottom:5px;
    right:5px;

} */

.organisationEdit .SaveDeleteButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.organisationEdit input[type=submit],
#confirmBox .confirmButtons .back,
#deletedSuccess .back {
    background-color: #4ABDAC;
    color: white;
    text-indent: 0px;
    margin: 0px;
    border-radius: 20px;
    border: none;

    width: 15%;
    height: 34.5px;
    font-weight: bold;
    font-size: 1em;
}

.backToOrganisations {
    width: auto;
    height: auto;
    background-color: #4ABDAC;
    color: white;
    text-indent: 0px;
    margin: 0px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

#confirmBox .confirmButtons .back,
#deletedSuccess .back {
    height: auto;
}

#saveSuccess {
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 10px;
    background-color: #F7B733;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#saveSuccess p {
    color: white;
}

#confirmBox {
    border-radius: 20px;
    background-color: #EDEDED;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 75px;
    padding: 10px;
    text-align: center;
}

#confirmBox .confirmButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#deletedSuccess {
    border-radius: 20px;
    background-color: #EDEDED;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 75px;
    padding: 10px;
    text-align: center;
}

#backToSearch {
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 175px;
    background-color: #FC4A1A;
    color: white;
    border: none;
    width: auto;
    height: 34.5px;
    align-self: flex-end;
    font-weight: bold;
    font-size: 1em;
}

.hidden {
    display: none;
}

@media only screen and (max-width:900px) {
    .searchBar {
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 45px;
    }

    #backToSearch {
        margin-left: 0px;
    }

    .searchBar input,
    .searchBar input[type=submit] {
        width: 100%;
        margin: auto;
    }

    .organisationEdit {
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        padding: 0px;
    }

    #saveSuccess,
    #confirmBox,
    #deletedSuccess {
        margin-left: 0;
        margin-right: 0;
    }
}