* {
    /* we are using Inter font, but there are fallbacks listed */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h1 {
    font-size: 50px;
}

header {
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 20px 5%;
    /* overflow-x: hidden; */
}

.navbar {
    display: flex;
    align-items: baseline;
}

.navbar a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 5px 0;
    margin: 0px 30px;
}

.navbar a.active {
    color: #4ABDAC;
}

.navbar a:hover {
    color: #F7B733;
    transition: .3s;
}

.userLogIn {
    display: flex;
    align-items: center;
}

.user i {
    font-size: 0.9rem;
    margin-right: 20px;
}

.ri-user-fill {
    color: #4ABDAC;
    margin-right: 5px;
}

#menu-icon {
    font-size: 25px;
    color: black;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.nav_buttons {
    display: flex;
    align-items: center;
}

.nav_buttons a {
    text-decoration: none;
    font-size: 0.9rem;
    margin-right: 25px;
    margin-left: 10px;
    color: black
}

.nav_buttons a:hover {
    color: #4ABDAC;
    transition: .3s;
}

.profileMenu {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: end;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.profile img {
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

.logo {
    max-width: 100px;
    margin-right: 3px;
}

/* TITLE */

.topContent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 125px 175px 0px 175px;
}


.leftContent h1 {
    padding-bottom: 25px;
    padding-right: 50px;
}

.leftContent {
    margin-right: 20px;
    width: 50%;
    margin-bottom: 20px;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.opportunityBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
    border-color: #d7d7d7;
    border-width: 1px;
    border-style: solid;
}

.opportunityBox p {
    margin: 0;
    padding: 0.5em;
}

.programName {
    margin: 1px;
    padding: 0.5em;
}

.tags span {
    margin-left: 5px;
}

.opportunityTag {
    border-radius: 5px;
    padding: 5px;
    background-color: #BABABA;
    border: none;
    /* width: 55px; */
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
    margin-right: 5px;
}



/* RIGHT CONTENT */

.rightContent {
    margin-left: 20px;
    text-align: right;
    border-left: 2px solid #BABABA;
    width: 50%;
}

.update {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    text-align: left;
}

.update:hover {
    transition: .4s;
    transform: translateY(4px);
}

.updateLogo {
    max-height: 80px;
    max-width: 80px;
    border-radius: 20px;
}

.extraDetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.extraDetails p {
    padding-right: 50px;
}

.postInfo p {
    margin: 5px;
}

.title {
    font-weight: bold;
}

.updatesList {
    background-color: #F7B733;
    border-radius: 25px;
    padding: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    float: right;
}

/* FINDING */
#findLocalTitle {
    display: flex;
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 10px;
    width: 100%;
    font-size: 24px;
    font-weight: lighter;
    justify-content: space-between;
}

#donatingHand {
    margin-left: 5px;
    font-size: 60px;
    color: #F7B733;
}

#find {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px;
    flex-wrap: wrap;
}


#find img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    outline-color: #BABABA;
    outline-width: 1px;
    outline-style: solid;
    width: 550px;
    height: 375px;
    margin-top: 36px;
}

#find h3 {
    border-color: #BABABA;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    padding-top: 20px;
    padding: 16px;
    text-align: center;
}

.findOpp {
    display: block;
    /* making everything clickable */
    margin-right: 36px;
    /* make this adjustable*/
}

.findLocal {
    display: block;
}

/* TAKE CARE */
.desc {
    width: 100%;
    overflow: hidden;
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 80px;
}

.desc h2 {
    text-align: center;
}

.desc p {
    padding-top: 40px;
    text-align: center;
}

.yellowBG {
    background-image: linear-gradient(white, #f4dfb4, white);
    margin-top: 50px;
    padding-bottom: 100px;
}

#why {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 175px 0px 175px;
}

#why p {
    padding-top: 15px;
    padding: 15px 5px 180px 5px;
}

#why div:hover {
    box-shadow: 0 5px 20px 0 #F7B733;
    transition: .2s;
}

.hydration {
    padding: 32px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.takeEasy {
    padding: 32px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.askHelp {
    padding: 32px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

/* Bottom */
.bottom {
    padding-top: 50px;
    padding-left: 175px;
    padding-right: 175px;
}

.contactTitle {
    display: flex;
    justify-content: start;
}

#contactIcon {
    font-size: 35px;
    margin-left: 10px;
    color: #F7B733;
}

.supportTitle {
    padding-top: 50px;
    display: flex;
    justify-content: start;
}

#phoneIcon {
    font-size: 35px;
    margin-left: 10px;
    color: #F7B733;
}

.bottom p {
    padding: 10px;
}

.footer {
    background-color: #D1EEE5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 175px;
    padding-right: 175px;
    margin-top: 110px;
    height: 165px;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width:1300px) {
    .update img {
        display: none;
    }

}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }

    .desc {
        padding-left: 10%;
        padding-right: 10%;
    }

    #why {
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
    }

    #why div {
        margin-top: 20px;

    }

    #findLocalTitle {
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }

    .bottom {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
        transition: .4s;
    }

    .profile {
        margin-right: 10px;
    }

    .topContent {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 10%;
    }

    .topContent h2 {
        text-align: center;
    }

    .leftContent {
        width: 75%;
        margin-left: 0px;
        border-style: none;
    }

    .rightContent {
        width: 75%;
        margin-left: 0px;
        border-style: none;
    }

    .findLocal {
        margin-top: 36px;
    }

    .findOpp {
        margin-right: 0px;
    }

    .navbar {
        position: absolute;
        top: 110%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .3s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 10px 25px;
        transition: all .3s ease;
        color: black;
    }

    .navbar a:hover {
        color: #F7B733;
        transform: translateY(2px);
    }

    .navbar a.active {
        color: #4ABDAC;
    }

    .navbar.open {
        right: 2%;
    }

    .footer {
        padding-left: 0;
        padding-right: 0;
        padding-right: 0;
        flex-direction: column;
        justify-content: flex-start;
    }
}