* {
    /* we are using Inter font, but there are fallbacks listed */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}


header {
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 20px 5%;
    /* overflow-x: hidden; */
}

.navbar {
    display: flex;
}

.navbar a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 5px 0;
    margin: 0px 30px;
}

.navbar a.active {
    color: #4ABDAC;
}

.navbar a:hover {
    color: #F7B733;
    transition: .3s;
}

.userLogIn {
    display: flex;
    align-items: center;
}

.user i {
    font-size: 0.9rem;
    margin-right: 20px;
}

.ri-user-fill {
    color: #4ABDAC;
    margin-right: 5px;
}

/* .profileMenu {
    display: flex;
    flex-direction: row;
    align-items: end;
} */

.profile {
    display: flex;
    flex-direction: row;
    align-items: end;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.profile img {
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 15px;
}

#menu-icon {
    font-size: 25px;
    color: black;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.nav_buttons {
    display: flex;
    align-items: center;
}

.nav_buttons a {
    text-decoration: none;
    font-size: 0.9rem;
    margin-right: 25px;
    margin-left: 10px;
    color: black
}

.nav_buttons a:hover {
    color: #4ABDAC;
    transition: .3s;
}

.logo {
    max-width: 100px;
    margin-right: 3px;
}

/* creating drop down for the profile when clicked */
.profileDropDown {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    align-items: start;
    position: absolute;
    top: 100%;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #D1EEE5;
    text-align: left;
}

.profileDropDown p {
    margin-left: 30px;
}

.profileDropDown.open {
    display: block;
    position: absolute;
    top: 100%;
    width: 200px;
    max-height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #D1EEE5;
    opacity: 1;
}

.profileDropDown a {
    color: black;
}

.profileDropDown a:hover {
    color: #F7B733;
    transition: .3s;
}

.footer {
    background-color: #D1EEE5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 175px;
    padding-right: 175px;
    margin-top: 110px;
    height: 165px;
    align-items: center;
    flex-wrap: wrap;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: #F7B733;
    transition: .3s;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }


    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }

}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .profile {
        margin-right: 10px;
    }

    .navbar {
        position: absolute;
        top: 110%;
        right: -100%;
        width: 270px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .3s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 10px 25px;
        transition: all .3s ease;
        color: black;
    }

    .navbar a:hover {
        color: #F7B733;
        transform: translateY(2px);
    }

    .navbar a.active {
        color: #4ABDAC;
    }

    .navbar.open {
        right: 2%;
    }

    .footer li {
        flex: 1 1 40%;
        /* Each item will take up 45% of the container width */
        margin: 10px 5%;
        text-align: center;
    }

    .footer {
        padding-left: 0;
        padding-right: 0;
        padding-right: 0;
        justify-content: center;
    }
}