body {
    /* we are using Inter font, but there are fallbacks listed */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.contentWrapper {
    min-height: 100vh;
}

h1 {
    padding-left: 175px;
    padding-right: 175px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid;
    width: 100%;
    color: black;
}

.title {
    padding-top: 4.8%;
}

.searchBar {
    background-color: #4ABDAC;
    height: 55px;
    line-height: 55px;
    padding-left: 175px;
    padding-right: 175px;
    margin: auto;
}

.searchBar input {
    border-radius: 20px;
    width: 20%;
    height: 2em;
    text-indent: 15px;
    border: none;
    margin-right: 10px;
}

input[type=submit] {
    width: 15%;
    background-color: #FC4A1A;
    color: white;
    text-indent: 0px;
    margin: auto;
    height: 2em;
}

input[type=submit]:active {
    outline: auto;
}

.pastLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15%;
    margin-top: 0.5%;
}

.organisationName {
    color: #4ABDAC;
    margin: 0;
    padding: 0.5em;
}

.logoJoin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 120px;
    width: 250px;
    border: none;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    padding-right: 50%;
}

.miniLogo {
    max-width: 150%;
    max-height: 100%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.opportunityBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 20px;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 20px;
    padding: 10px;
    border-color: #d7d7d7;
    border-width: 1px;
    border-style: solid;
}

.opportunityBox p {
    margin: 0;
    padding: 0.5em;
}

.detailsBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    border-width: 1px;
    border-style: solid;
}

.detailsBox p {
    margin: 0;
    padding: 0px;
}

.detailsBox h4 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;
}

.tags {
    padding-left: 5px;
}

.opportunityTag {
    border-radius: 5px;
    background-color: #BABABA;
    border: none;
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
    margin-right: 5px;
}

.opportunityBox .Name {
    font-weight: 700;
    font-size: large;
    padding-bottom: 1em;
}

.buttonHolder {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: 48%;
    margin-left: 2%;
}

.RSVPSmall {
    border-radius: 20px;
    width: 100px;
    height: 5em;
    text-indent: 15px;
    border: none;
    background-color: #FC4A1A;
    color: white;
    text-indent: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 12pt;
}

.joinButton {
    border-radius: 20px;
    width: 200px;
    height: 5em;
    text-indent: 15px;
    border: none;
    background-color: #FC4A1A;
    color: white;
    text-indent: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
}

.backButton {
    border-radius: 20px;
    width: 6%;
    height: 2em;
    text-indent: 15px;
    border: none;
    background-color: #4ABDAC;
    color: white;
    text-indent: 0px;
    margin: auto;
    height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 14%;
    margin-top: 1%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RSVPButton {
    border-radius: 20px;
    width: 80%;
    height: 5em;
    text-indent: 15px;
    border: none;
    background-color: #FC4A1A;
    color: white;
    text-indent: 0px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    float: right;
    margin-right: 14%;
    margin-top: 1%;
    margin-bottom: 10%;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 120px;
    width: 250px;
    border: none;
    margin-top: 10px;
}



@media only screen and (max-width:900px) {

    .successBox,
    button {
        margin-left: 0;
        margin-right: 0;
    }

    #breadcrumb {
        margin-left: 0px;
        margin-right: 0px;
    }

}

@media (max-width: 1090px) {

    .breadcrumb {
        padding-left: 0px;
    }

    #emailNotifications {
        margin-left: 0px;
    }

    .opportunityBox {
        margin-left: 0px;
        margin-right: 0px;
    }
}