body {
    /* we are using Inter font, but there are fallbacks listed */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1 {
    padding-left: 175px;
    padding-right: 175px;
}

.contentWrapper {
    min-height: 100vh;
    padding-top: 100px;
}

.postsPages {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.postsPages #numberOfPosts {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.postsPages #numberOfPosts p:first-child {
    margin-right: 40px;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 175px;
    padding-right: 175px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #FC4A1A;
    border-radius: 20px;
    text-indent: 10px;
    color: white;
    height: 50px;
    width: 222px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #ed4618;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default)
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
/* .dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */

/* Change color of dropdown links on hover */
/* .dropdown-content option:hover {background-color: #ddd;} */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/* .show {display:block;} */

.posts {
    display: flex;
    flex-direction: column;
    /* width:80%; */
}

.newPost {
    border-radius: 20px;
    background-color: #EDEDED;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.newPost input[type=text] {
    background-color: #FFFFFF;
    margin-top: 10px;
    text-indent: 15px;
    border: none;
    height: 2em;
}


.newPost textarea {
    background-color: #FFFFFF;
    margin-top: 10px;
    text-indent: 15px;
    border: none;
    resize: none;
    text-indent: 0px;
    padding: 15px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.newPost input[type=submit] {
    align-self: flex-end;
    border-radius: 20px;
    border: none;
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: #FC4A1A;
    color: white;
    height: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1em;
}

input[type=submit]:active {
    outline: auto;
}

.oldPosts {
    border-radius: 20px;
    background-color: #D9D9D9;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
}

.companyLogo {
    max-height: 100px;
    max-width: 100px;
    border-radius: 20px;
}

.extraDetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.extraDetails p {
    padding-right: 50px;
}

.title {
    font-weight: bold;
}

button {
    border-radius: 20px;
    border: none;
    width: auto;
    background-color: #FC4A1A;
    color: white;
    height: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nextPageButtons {
    padding-left: 175px;
    padding-right: 175px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nextPageButtons button {
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.nextPageButtons button:active {
    outline: auto;
}

.nextPageButtons .next {
    margin-left: auto;
    display: none;
}

.nextPageButtons .previous {
    display: none;
}


.hidden {
    display: none;
}



@media only screen and (max-width:900px) {
    h1 {
        padding: 0px;
    }

    .postsPages {
        padding: 0px;
    }

    .boxes {
        flex-direction: column;
        padding: 0px;
    }

    .branchList {
        width: auto;
    }

    .newPost {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .companyLogo {
        max-height: 100px;
        max-width: 100px;
    }

    .nextPageButtons {
        padding-left: 0;
        padding-right: 0;
    }


}