body {
    /* we are using Inter font, but there are fallbacks listed */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.contentWrapper {
    padding-top: 50px;
    min-height: 100vh;
}

.title {
    padding-top: 4.8%;
}

.searchBar {
    background-color: #4ABDAC;
    height: 55px;
    line-height: 55px;
    padding-left: 175px;
    padding-right: 175px;
    margin: auto;
}

.searchBar input {
    border-radius: 20px;
    width: 20%;
    height: 2em;
    text-indent: 15px;
    border: none;
    margin-right: 10px;
}

input[type=submit] {
    width: 15%;
    background-color: #FC4A1A;
    color: white;
    text-indent: 0px;
    margin: auto;
    height: 2em;
}

input[type=submit]:active {
    outline: auto;
}

.searchCount {
    font-size: 0.83rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 15%;
}

.pageCount {
    font-size: 0.83rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 15%;
}

.organisationName {
    color: #4ABDAC;
    margin: 0;
    padding: 0.5em;
}

.logoJoin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 120px;
    width: 250px;
    border: none;
}

.contentLeft {
    display: flex;
    flex-direction: column;
}

.miniLogo {
    max-width: 80%;
    max-height: 80%;
    margin-bottom: 5%;
}

.opportunityBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 20px;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 20px;
    padding: 10px;
    border-color: #d7d7d7;
    border-width: 1px;
    border-style: solid;
}

.opportunityBox p {
    margin: 0;
    padding: 0.5em;
}


.tags {
    padding-left: 5px;
}

.opportunityTag {
    border-radius: 5px;
    background-color: #BABABA;
    border: none;
    width: 55px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
    margin-right: 5px;
}

.opportunityBox .Name {
    font-weight: 700;
    font-size: large;
    padding-bottom: 1em;
}

.nextButton {
    border-radius: 20px;
    width: 6%;
    height: 2em;
    text-indent: 15px;
    border: none;
    background-color: #4ABDAC;
    color: white;
    text-indent: 0px;
    margin: auto;
    height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 14%;
    margin-top: 1%;
}

.nextButton:active {
    outline: auto;
}

.prevButton {
    border-radius: 20px;
    width: 7%;
    height: 2em;
    text-indent: 15px;
    border: none;
    background-color: #4ABDAC;
    color: white;
    text-indent: 0px;
    margin: auto;
    height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 14%;
    margin-top: 1%;
}

.prevButton:active {
    outline: auto;
}