<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin - Users</title>
    <!-- vue script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <link rel="stylesheet" href="stylesheets/AdminUsers.css">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="javascripts/AdminUsers.js" defer></script> <!-- Use defer attribute -->
    <script src="javascripts/headerFooter.js"></script>
    <link rel="stylesheet" href="stylesheets/main.css">

</head>

<body onload="getAllUsers()">
    <div id="app" class="contentWrapper">
        <!-- header -->
        <header-component>
        </header-component>

        <h1>Edit Users</h1>

        <!-- search bar -->
        <div class="searchBar">
            <input id="firstNameInput" type="text" placeholder="First Name">
            <input id="lastNameInput" type="text" placeholder="Last Name">
            <input id="emailInput" type="text" placeholder="Email">
            <input onclick="findUser()" type="submit">
        </div>

         <!-- vue updates the number of users and number of pages-->
         <div class="usersPages">
            <div id="numberOfUsers">
                <p id="numUsers">{{ numUsers }} Users</p>
                <p v-if="!searchedForUser && !userDetailsShowing && !notFoundShowing" id="pageNum">Page {{ currPage }}/{{ numPages }}</p>
            </div>
        </div>

        <!-- User box, filled using AJAX/vue, should be empty <p> tags -->
        <div v-if="searchedForUser && userDetailsShowing && !notFoundShowing">
            <div v-for="user in userInfo" class="UserBox">
                <p class="Name">{{ user.firstName }}, {{ user.lastName }}</p>
                <div class="lastLine">
                    <p>{{ user.email }}</p>
                    <button @click="goToEditUser(user.userID)">Edit</button>
                </div>
            </div>
        </div>

        <div v-if="!searchedForUser && !userDetailsShowing && !notFoundShowing">
            <div v-for="(user, index) in allUsers.slice(sliceStart, sliceEnd)" class="UserBox">
            <!-- <div v-for="user in allUsers" class="UserBox"> -->
                <p class="Name">{{ user.firstName }}, {{ user.lastName }}</p>
                <div class="lastLine">
                    <p>{{ user.email }}</p>
                    <button @click="goToEditUser(user.userID)">Edit</button>
                </div>
            </div>
        </div>

        <!-- could not find user box -->
        <div id="notFound" v-if="notFoundShowing && searchedForUser && !userDetailsShowing">
            <p>{{ notFoundMsg }}</p>
        </div>

        <div v-if="!searchedForUser && !userDetailsShowing && !notFoundShowing" class="nextPageButtons" >
            <button class="previous" @click="backPage()">Previous Page</button>
            <button class="next" @click="nextPage()">Next Page</button>
        </div>

        <!-- footer -->
        <footer-component></footer-component>

    </div>
</body>

</html>