<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin - Users</title>
    <!-- vue script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <link rel="stylesheet" href="stylesheets/AdminUsers.css">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="javascripts/AdminUsers.js" defer></script> <!-- Use defer attribute -->

</head>

<body>
    <header>
        <img class="logo" src="images_assets/logo.png" alt="logo">
        <ul class="navbar">
            <li><a href="#">Edit Users</a></li>
            <li><a href="#">Edit Organisations</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
        <div class="profileMenu">
            <a href="#">
                <div class="profile">
                    <p>Name</p>
                    <img class="profilPic" src="/images_assets/defaultProfile.jpeg" alt="profilePic">
                </div>
            </a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
    <div id="app" class="contentWrapper">
        <!-- nav bar -->
        <h1>Edit Users</h1>

        <!-- search bar -->
        <div class="searchBar">
            <input id="firstNameInput" type="text" placeholder="First Name">
            <input id="lastNameInput" type="text" placeholder="Last Name">
            <input id="emailInput" type="text" placeholder="Email">
            <input onclick="findUser()" type="submit">
        </div>

        <!-- User box, filled using AJAX/vue, should be empty <p> tags -->
        <div v-if="searchedForUser && userDetailsShowing && !notFoundShowing">
            <div v-for="user in userInfo" class="UserBox" >
                <p class="Name">{{ user.firstName }}, {{ user.lastName }}</p>
                <div class="lastLine">
                    <p>{{ user.email }}</p>
                    <button @click="goToEditUser(user.userID)">Edit</button>
                </div>
            </div>
        </div>

        <!-- could not find user box -->
        <div id="notFound" v-if="notFoundShowing && searchedForUser && !userDetailsShowing">
            <p>{{ notFoundMsg }}</p>
        </div>

    </div>

    <!-- footer -->
    <div class="footer">
        <p>Edit Users</p>
        <p>Edit Organisations</p>
        <p>Admin</p>
        <p id="logoutFooter">Logout</p>
    </div>

</body>

</html>