<!DOCTYPE html>
<html lang="en">
<!--  -->

<head>
    <title>Admin - Organisations</title>
    <!-- vue script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="icon" type="image/x-icon" href="/images_assets/favicon.svg">

    <link rel="stylesheet" href="stylesheets/AdminOrganisation.css">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="javascripts/AdminOrganisations.js"></script>
    <script src="javascripts/AdminOrganisationsLoadNames.js"></script>
    <script src="javascripts/headerFooter.js"></script>
    <link rel="stylesheet" href="stylesheets/main.css">

</head>

<body onload="getAllOrgNames()">
    <div id="app">
        <div class="contentWrapper">
            <!-- header -->
            <header-component>
            </header-component>

            <h1>Edit Organisations</h1>

            <!-- search bar -->
            <div class="searchBar">
                <input id="orgName" type="text" placeholder="Organisation Name">
                <input id="orgEmail" type="text" placeholder="Email">
                <input onclick="findOrganisation()" @click="searchOrg()" type="submit">
            </div>

            <!-- vue updates the number of organisaitons and number of pages-->
            <div class="orgPages">
                <div id="numberOfOrgs">
                    <p id="numOrgs">{{ numOrgs }} Organisations</p>
                    <p v-if="!searchedForOrgVue && !orgDetailsShowingVue && !notFoundShowingVue" id="pageNum">Page {{
                        currPage }}/{{ numPages }}</p>
                </div>
            </div>

            <div v-if="!searchedForOrgVue && !orgDetailsShowingVue && !notFoundShowingVue">
                <div v-for="(org, index) in allOrgs.slice(sliceStart, sliceEnd)" class="allOrgBoxes">
                    <div>
                        <p class="Name">{{ org.orgName }}</p>
                        <p> {{ org.email }}</p>
                    </div>
                    <img class="logo" v-bind:src="org.imgPath" alt="Company logo">
                </div>
            </div>


            <div v-if="!searchedForOrgVue && !orgDetailsShowingVue && !notFoundShowingVue" class="nextPageButtons">
                <button class="previous" @click="backPage()">Previous Page</button>
                <button class="next" @click="nextPage()">Next Page</button>
            </div>

            <div class="orgBox">
            </div>
            <div class="branches">
            </div>


        </div>
        <!-- footer -->
        <footer-component></footer-component>
    </div>

</body>

</html>