<!DOCTYPE html>
<html lang="en">

<head>
    <title>Volunteer Homepage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images_assets/favicon.svg">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/homeVolunteer.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/headerFooter.js"></script>
    <script src="javascripts/homeVolunteer.js"></script>
</head>

<body>
    <div id="app">
        <header-component></header-component>

        <div class="topContent">
            <div class="leftContent">
                <h1>Welcome,
                    {{userName}}</h1>
                <h2>See your mark on the world</h2>
                <div class="posts">
                    <div v-if="recentPosts.length === 0" class="placeholder" @click="goOpportunities">
                        <p>Join your first event today!</p>
                    </div>
                    <div v-for="post in recentPosts" :key="post.oppID" class="opportunityBox">
                        <div class="contentLeft">
                            <a :href="post.link" class="programName"><b>{{ post.oppName }}</b></a>
                            <p class="organisationName">{{ post.organisationName }} - {{ post.branchName }}</p>
                            <div class="tags">
                                <span v-for="tag in post.tags.split(',')" :key="tag.trim()" class="opportunityTag">{{
                                    tag.trim() }}</span>
                            </div>
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="logoJoin">
                            <img :src="post.thumbnail" alt="logo" class="updateLogo">
                            <p>{{ post.dates }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rightContent">
                <h2>Updates of your joined
                    Communities</h2>
                <div class="updatesList">
                    <div v-if="recentUpdates.length === 0" class="placeholderUpdates" @click="goOrganisations">
                        <p>Join your first community!</p>
                    </div>
                    <div v-for="update in recentUpdates" :key="update.updateID" class="update">
                        <div class="postInfo" @click="goUpdates">
                            <p class="title">{{ update.updateName }}</p>
                            <div class="extraDetails">
                                <p>{{ update.orgName }} — {{ update.branchName }}</p>
                                <p>{{ update.dateCreated }}</p>
                            </div>
                            <p>{{ update.updateMsg }}</p>
                        </div>
                        <a :href="update.orgSite">
                            <img class="updateLogo" :src="update.imgPath" alt="Company logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="findLocalTitle">
            <h2>Find your local volunteering
                opportunities today!
            </h2>
            <div class="bx bxs-donate-heart" id="donatingHand"></div>
        </div>

        <div id="find">
            <a href="#">
                <div class="findOpp">
                    <img class="oppImg" src="images_assets/helpers.jpeg" alt="oppImg">
                    <h3 class="opportunities">Volunteering Opportunities</h3>
                </div>
            </a>
            <a href="#">
                <div class="findLocal">
                    <img class="orgImg" src="images_assets/organisations.jpeg" alt="orgImg">
                    <h3 class="organisations">Volunteer Organisations</h3>
                </div>
            </a>
        </div>
        <div id="takeCare">
            <div class="desc">
                <h2>You've joined <span id="userCount">{{ userCount }}</span> people making a mark on this world.
                </h2>
                <p>Volunteering is difficult, we understand that. But remember, sometimes times can be tough and you
                    need a
                    break. If you
                    use up all that empathy and kindness for everyone else, who will take care of you?</p>
            </div>
        </div>
        <div class="yellowBG">
            <div id="why">
                <div class="hydration">
                    <h3>1. Stay Hydrated</h3>
                    <p>Regular water breaks are crucial in keeping you healthy and in the right health to take care of
                        others.</p>
                    <!-- <div class="bx bxs-heart" id="heart-icon"></div> -->
                </div>
                <div class="takeEasy">
                    <h3>2. Take it easy</h3>
                    <p>Volunteering can be physically demanding. Even if you push through it with your best attitude,
                        take
                        time for a break,
                        time for yourself.</p>
                    <!-- <div class="bx bxs-florist" id="flower"></div> -->
                </div>
                <div class="askHelp">
                    <h3>3. Ask for help</h3>
                    <p>It can be confronting sometimes. Check in on yourself, and if you need further support, or feel
                        unsafe to yourself,
                        please contact below.</p>
                    <!-- <div class="bx bxs-group" id="pplIcon"></div> -->
                </div>
            </div>
        </div>



        <div class="bottom">
            <div class="contactTitle">
                <h2>Contact</h2>
                <div class="bx bxl-gmail" id="contactIcon"></div>
            </div>
            <p><strong>Email:</strong> <a href="mailto:@somethingsmthing.gmail.com"
                    target="_blank">@somethingsmthing.gmail.com</a></p>

            <div class="supportTitle">
                <h2>Support</h2>
                <div class="bx bxs-phone" id="phoneIcon"></div>
            </div>
            <p><strong>Lifeline:</strong> <a href="tel:131114">13 11 14</a></p> <!-- making this clickable-->
            <p><strong>Beyond Blue:</strong> <a href="tel:1300224636">1300 22 4636</a></p>
        </div>
        <footer-component></footer-component>
    </div>
</body>

</html>