<!DOCTYPE html>
<html lang="en">

<head>
    <title>Organisation Verified Homepage</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images_assets/favicon.svg">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/homeOrgVerified.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/headerFooter.js"></script>
    <script src="javascripts/homeOrgVerified.js"></script>
</head>

<body>
    <div id="app">
        <header-component></header-component>

        <div class="top">
            <div class="title">
                <h1>Welcome,</h1>
                <h1>{{orgName}}</h1>
            </div>
            <div class="dropdown" v-if="branches.length!=0">
                <!-- <button onclick="showBranchOptions()" class="dropbtn">Current Branch ▼ </button> -->
                <select class="dropbtn" @change="chooseBranch($event)">
                    <option v-for="(branch, index) in branches" :value="branch.branchID" :selected="index === 0">{{
                        branch.branchName}}</option>
                </select>
            </div>

        </div>

        <div class="topContent">
            <div class="leftContent">
                <h2>See your mark on the world</h2>
                <div class="posts">

                    <div v-if="branchPosts.length === 0" class="placeholder" @click="goTo('/opportunities')">
                        <p>Make your first post today!</p>
                    </div>

                    <div v-for="post in branchPosts" :key="post.oppID" class="opportunityBox">
                        <div class="contentLeft">
                            <a :href="post.link" class="programName"><b>{{ post.oppName }}</b></a>
                            <p class="organisationName">{{ post.organisationName }} - {{ post.branchName }}</p>
                            <div class="tags">
                                <span v-for="tag in post.tags.split(',')" :key="tag.trim()" class="opportunityTag">{{
                                    tag.trim() }}</span>
                            </div>
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="logoJoin">
                            <img :src="post.thumbnail" alt="logo" class="updateLogo">
                            <p>{{ post.dates }}</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="rightContent">
                <h2>Your Recent Updates</h2>
                <div class="updatesList">
                    <div v-if="branchUpdates.length === 0" class="placeholderUpdates" @click="goTo('/updates')">
                        <p>Make your first update today!</p>
                    </div>
                    <div v-for="update in branchUpdates" :key="update.updateID" class="update">
                        <div class="postInfo" @click="goTo('/updates')">
                            <p class="title">{{ update.updateName }}</p>
                            <div class="extraDetails">
                                <p>{{ update.orgName }} — {{ update.branchName }}</p>
                                <p>{{ update.dateCreated}}</p>
                            </div>
                            <p>{{ update.updateMsg }}</p>
                        </div>
                        <a :href="'/update/' + update.updateID">
                            <img class="updateLogo" :src="update.imgPath" alt="Company logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="quickLinks">
            <h2>Quicklinks
            </h2>
        </div>

        <div id="find">
            <a href="#">
                <div class="findOpp">
                    <img class="oppImg" src="images_assets/helpers.jpeg" alt="oppImg">
                    <h3 class="opportunities">Volunteering Opportunities</h3>
                </div>
            </a>
            <a href="#">
                <div class="findLocal">
                    <img class="orgImg" src="images_assets/organisations.jpeg" alt="orgImg">
                    <h3 class="organisations">Volunteer Organisations</h3>
                </div>
            </a>
        </div>

        <div class="welcome">
            <div class="thanks">
                <h3>Thank you for partnering with us at Heartful Helpers</h3>
                <p>This site cannot be run without you guys.</p>
                <p>For organisations that wish to create variants/branches for specific locations or categories, please
                    fill
                    out
                    the form
                    in our branch request.</p>
                <p>Otherwise, your ability as an organisation will be as following:</p>
                <p>> Create listings of events</p>
                <p>> Create updates from your selected branch</p>
                <p>> See list of people RSVP'ed for events</p>
                <p>> Modify and edit events</p>
                <p>We ask that you only have one account controlling the main.</p>
            </div>
            <div class="buttonList">
                <div class="contactBtn"><a href="mailto:@somethingsmthing.gmail.com"><button>Contact Us</button></a>
                </div>
                <div class="reqBtn"><button @click="goTo('/registerBranch')">Request Branch</button></div>
                <div class="eventBtn"><button @click="goTo('/opportunities')">Create Event</button></div>
                <div class="updateBtn"><button @click="goTo('/updates')">Create Update</button></div>
            </div>
        </div>

        <footer-component></footer-component>
    </div>
</body>

</html>