<!DOCTYPE html>
<html lang="en">

<head>
    <title>Joined Users</title>
    <link rel="stylesheet" href="stylesheets/joinedUsers.css">
    <link rel="icon" type="image/x-icon" href="/images_assets/favicon.svg">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/headerFooter.js"></script>
    <script src="javascripts/joinedUsers.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>

<body>

    <div id="app">
        <header-component>
        </header-component>

        <div class="contentWrapper">

            <h1>Joined Volunteers</h1>


            <!-- Branch boxes and post updates -->
            <div class="boxes">
                <div class="dropdown" v-if="branches.length!=0">

                    <select class="dropbtn" @change="chooseBranch($event)">
                        <option v-for="(branch, index) in branches" :value="branch.branchID" :selected="index === 0">{{
                            branch.branchName}}</option>
                    </select>
                </div>

                <!-- vue updates the number of posts and number of pages-->
                <div class="joinedVolunteers">
                    <!-- <div class="postsPages"> -->
                    <div id="numberOfVolunteers">
                        <!-- <div id="numberOfPosts"> -->
                        <!-- <p id="numPosts">0 Posts</p> -->
                        <p id="numVolunteers">{{numVolunteers}} Volunteers</p>
                        <!-- <p id="pageNum">Page 1/1</p> -->
                    </div>
                </div>

                <!-- <div class="posts"> -->
                <div class="volunteers">

                    <div v-for="volunteer in branchVolunteers" :key="volunteer.userID" class="UserBox">
                        <p class="Name">{{ volunteer.firstName }}, {{ volunteer.lastName }}</p>
                        <div class="lastLine">
                            <p>{{ volunteer.email }}</p>
                            <button @click="removeVolunteer(volunteer.userID)">Remove</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="nextPageButtons">
                <button class="previous" onclick="backPage()">Previous Page</button>
                <button class="next" onclick="nextPage()">Next Page</button>
            </div>
        </div>

        <footer-component></footer-component>

    </div>
</body>

</html>