<!DOCTYPE html>
<html lang="en">

<head>
    <title>More Information</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/MoreInformationOpportunityUser.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
    <script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/headerFooter.js"></script>
    <script src="javascripts/MoreInformationOpportunityUser.js"></script>

</head>

<body>
    <div id="app">
        <header-component></header-component>
        <div class="contentWrapper">
            <!-- Page Title -->
            <h1 class="title">Volunteer Opportunites</h1>

            <!-- Search Bar -->
            <div class="searchBar">
                <input id="categories" type="text" placeholder="Categories">
                <input id="commitment" type="text" placeholder="Time Commitment">
                <input id="location" type="text" placeholder="Location">
                <input onclick="searchPosts()" type="submit" value="Search">
            </div>

            <!-- Opportunity Box -->
            <div v-if="result" class="opportunityBox">
                <div class="contentLeft">
                    <h3>{{ result.oppName }}</h3>
                    <a :href="result.link" class="organisationName"><b>{{ result.organisationName }}</b></a>
                    <div class="tags">
                        <span v-for="tag in result.tags.split(' ')" :key="tag.trim()" class="opportunityTag">{{ tag.trim() }}</span>
                    </div>
                    <p>{{ result.address }}</p>
                    <p class="description">{{ result.description }}</p>
                    <div class="buttonHolder">
                        <button v-if="!rsvpd" onclick="RSVP()" type="submit" class="RSVPSmall"><b>RSVP</b></button>
                        <button v-if="rsvpd" @click="unRSVP" type="submit" class="RSVPSmall"><b>Remove RSVP</b></button>
                        <button v-if="!joinedOrg" @click="joinOrg()" type="submit" class="joinButton"><b>Join Organisation</b></button>
                        <button v-if="joinedOrg" @click="leaveOrg()" type="submit" class="joinButton"><b>Remove Organisation</b></button>
                    </div>
                </div>
                <div class="rightSide">
                    <div class="detailsBox">
                        <h4>Categories</h4>
                        <div class="tags">
                            <span v-for="tag in result.tags.split(' ')" :key="tag.trim()" class="opportunityTag">{{ tag.trim() }}</span>
                        </div>
                        <h4>Time Commitment</h4>
                        <p>{{ result.commitment }}</p>
                        <h4>Suitable for</h4>
                        <p>{{ result.suitability }}</p>
                        <h4>Training</h4>
                        <p>{{ result.training }}</p>
                        <h4>Requirements</h4>
                        <p>{{ result.requirements }}</p>
                        <h4>Location</h4>
                        <div id="map" title="location">
                            <leaflet-map></leaflet-map>
                        </div>
                    </div>
                    <div class="logoJoin">
                        <img :src="result.thumbnail" alt="" class="miniLogo">
                    </div>
                </div>
            </div>


            <!-- Back Button -->
            <button onclick="back()" type="submit" class="backButton">Back</button>
            <!-- footer -->
        </div>

        <!-- footer -->
        <footer-component></footer-component>
    </div>
</body>

</html>