<!DOCTYPE html>
<html lang="en">

<head>
    <title>Your RSVPs</title>
    <link rel="stylesheet" href="stylesheets/rsvp.css">
    <link rel="icon" type="image/x-icon" href="/images_assets/favicon.svg">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/headerFooter.js"></script>
    <script src="javascripts/RSVP.js"></script>

</head>

<body>
    <div id="app">
        <header-component></header-component>

        <div class="content">
            <div class="topTitle">
                <h1 class="left">Your RSVPs</h1>
                <button @click="loadRSVPs">Show All</button>
            </div>
        </div>

        <!-- search bar ALSO NEED TO ADD DROP DOWN IMPLEMENTATION-->
        <!-- <div class="searchBar">
                <input id="Categories" type="text" placeholder="Categories">
                <input id="Commitment" type="text" placeholder="Time Commitment">
                <input id="Location" type="text" placeholder="Location">
                <input type="submit">
            </div> -->
        <div class="container">
            <div class="custom-select">
                <div class="select-box">
                    <input type="text" class="tags_input" name="tags" hidden>
                    <div class="selected-options">
                    </div>
                    <div class="arrow">
                        <i class="bx bxs-chevron-down"></i>
                    </div>
                </div>
                <div class="options">
                    <div class="option-search-tags">
                        <input type="text" class="search-tags" placeholder="Search tags...">
                        <button type="button" class="clear">
                            <i class="bx bxs-x"></i>
                        </button>
                    </div>
                    <div class="option all-tags" data-value="All">Select All</div>
                    <div class="option" data-value="Aged Care">Aged Care</div>
                    <div class="option" data-value="Animal Shelter">Animal Shelter</div>
                    <div class="option" data-value="Food Bank">Food Bank</div>
                    <div class="option" data-value="Health">Health</div>
                    <div class="option" data-value="Youth Group">Youth Group</div>
                    <div class="option" data-value="Shelters">Shelters</div>
                    <div class="option" data-value="Ocean Cleanup">Ocean Cleanup</div>
                    <div class="no-result-message" style="display:none;">No result match</div>
                </div>
                <span class="tag_error_msg error"></span>
            </div>

            <div class="custom-select">
                <div class="select-box">
                    <input type="text" class="tags_input" name="tags" hidden>
                    <div class="selected-options">
                    </div>
                    <div class="arrow">
                        <i class="bx bxs-chevron-down"></i>
                    </div>
                </div>
                <div class="options">
                    <div class="option-search-tags">
                        <input type="text" class="search-tags" placeholder="Search tags...">
                        <button type="button" class="clear">
                            <i class="bx bxs-x"></i>
                        </button>
                    </div>
                    <div class="option all-tags" data-value="All">Select All</div>
                    <div class="option" data-value="Less than 1 hour">Less than 1 hour</div>
                    <div class="option" data-value="1 to 2 hours">1-2 hours</div>
                    <div class="option" data-value="2 to 4 hours">2-4 hours</div>
                    <div class="option" data-value="4+ hours">4+ hours</div>
                    <div class="option" data-value="Full day">Full day</div>
                    <div class="option" data-value="Weekly">Weekly</div>
                    <div class="no-result-message" style="display:none;">No result match</div>
                </div>
                <span class="tag_error_msg error"></span>
            </div>

            <div class="searchCity">
                <form class="searchForm">
                    <input type="text" placeholder="Search Location..." class="searchLocation">
                </form>
            </div>
            <input type="button" class="btn_submit" value="Submit" @click="submit">
        </div>



        <!-- User box, filled using AJAX, should be empty <p> tags
            <div class="UserBox">
                <div class="contentLeft">
                    <a href="link.com" class="programName"><b>Program Name</b></a>
                    <p>Organisation Name</p>
                    <div class="tags">
                        <p class="indvTag">Tag 1</p>
                        <p class="indvTag">Tag 2</p>
                        <p class="indvTag">Tag 3</p>
                    </div>
                    <p>Description of program that extends really far so they can put in lots of words so they are
                        long and they go for multiple lines. Repeating lots of information but in a super concise way.
                        this looks so good with multiple lines. <a href="link.com" class="moreInfo"><b>Click for more
                                info!</b></a></p>
                </div>
                <div class="logoJoin">
                    <img src="images_assets/vlogo.png" class="logo" alt="profilePic">
                </div>
            </div>

 -->
        <!-- <div class="UserBox" v-for="post in events">
            <div class="contentLeft">
                <b @click="goTo('/opportunities')">{{post.oppName}}</b>
                <p>{{post.orgName}}</p>
                <div class="tags"><span v-for="tag in post.tags.split(',')" :key="tag.trim()" class="opportunityTag">{{
                        tag.trim() }}</span></div>
                <p>{{post.description}}</p> <a href="link.com" class="moreInfo"><b>Click for more info!</b></a>
            </div>
            <div class="logoJoin">
                <img :src="post.imgPath" class="orgLogo" alt="profilePic">
            </div>
        </div> -->

        <div v-for="post in events" class="UserBox">
            <div class="contentLeft">
                <a :href="post.link" class="programName"><b>{{ post.oppName }}</b></a>
                <p class="organisationName"><b>{{ post.orgName }} - {{ post.branchName }}</b></p>
                <div class="tags">
                    <span v-for="tag in post.tags.split(',')" :key="tag.trim()" class="opportunityTag">{{
                        tag.trim() }}</span>
                </div>
                <p>{{ post.description }}</p>
            </div>
            <div class="logoJoin">
                <img :src="post.thumbnail" alt="logo" class="updateLogo">
                <p>{{ post.dates }}</p>
            </div>
        </div>

        <div class="noRSVP" v-if="events.length===0 && submitClicked">
            <p>
                No RSVP'd events! Join your first volunteering opportunity here!
            </p>
        </div>

        <!-- <p class="pageNo">Page 1/3</p> -->
        <footer-component></footer-component>
    </div>

</body>

</html>