<!DOCTYPE html>
<html lang="en">

<head>
    <title>Updates Volunteer</title>
    <!-- vue script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="icon" type="image/x-icon" href="/images_assets/favicon.svg">
    <link rel="stylesheet" href="stylesheets/UpdatesVolunteer.css">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="javascripts/UpdatesVolunteer.js" defer></script>
    <script src="javascripts/headerFooter.js"></script>

</head>

<body onload="getFollowedBranch(); getPosts()">
    <div id="app">
        <!-- header -->
        <header-component>
        </header-component>
        <div class="contentWrapper">
            <h1>Updates</h1>


            <!-- Branch boxes and post updates -->
            <div class="boxes" v-if="">
                <div class="dropdown">
                    <!-- <button onclick="showBranchOptions()" class="dropbtn">Current Branch ▼ </button> -->
                    <select class="dropbtn" @change="choseBranch($event)">
                        <option v-for="(branch, index) in branches" v-bind:value="branch.branchID"
                            v-bind:selected="index === 0">{{branch.orgName}} — {{ branch.branchName}}</option>
                </div>
                </select>
            </div>

            <div class="posts">

                <div class="allPosts">
                    <!-- load all the current posts using vue -->
                    <div v-for="(post, index) in oldPosts.slice(sliceStart, sliceEnd)" class="oldPosts">
                        <div class="postInfo">
                            <p class="title">{{ post.updateName}}</p>
                            <div class="extraDetails">
                                <p>{{ post.orgName }}</p>
                                <p>{{ post.dateCreated }}</p>
                            </div>
                            <p>{{ post.updateMsg }}</p>
                        </div>
                        <img class="companyLogo" v-bind:src="post.imgPath" alt="Company logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="nextPageButtons">
            <button class="previous" @click="backPage()">Previous Page</button>
            <button class="next" @click="nextPage()">Next Page</button>
        </div>
    </div>

    <!-- footer -->
    <footer-component></footer-component>
    </div>

</body>

</html>