
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Volunteer Opportunities</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/VolunteerOpportunitiesGuest.css">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/headerFooter.js"></script>
    <script src="javascripts/VolunteerOpportunitiesUser.js" defer></script>
</head>

<body>
    <div id="app">
        <header-component></header-component>
        <div class="contentHold">
            <div class="contentLeft">
                <!-- Current Branch Dropdown -->
                <div class="dropdown">
                    <select class="dropbtn" v-model="selectedBranch" @change="choseBranch">
                        <option v-for="branch in branches" :value="branch" :key="branch">
                            {{ branch }}
                        </option>
                    </select>
                </div>

                <!-- Result and Page Count-->
                <div class="countContainer">
                    <p class="searchCount">{{ totalPosts }} Posts</p>
                    <p class="pageCount">Page {{ currentPage }}/{{ totalPages }}</p>
                </div>

                <!-- Opportunities Box filled using AJAX, should be empty <p> tags -->
                <div class="opportunityBox" v-for="opportunity in opportunities" :key="opportunity.id">
                    <div class="contentLeft">
                        <a :href="opportunity.link" class="organisationName"><b>{{ opportunity.programName }}</b></a>
                        <p>{{ opportunity.organisationName }}</p>
                        <div class="tags">
                            <span class="opportunityTag" v-for="tag in opportunity.tags" :key="tag">{{ tag }}</span>
                        </div>
                        <p>{{ opportunity.description }}</p>
                    </div>
                    <div class="logoJoin">
                        <img :src="opportunity.logo" alt="" class="miniLogo">
                    </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </div>
</body>

</html>