<!DOCTYPE html>
<html lang="en">
<!--  -->

<head>
    <title>Volunteer Opportunities</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/VolunteerOpportunitiesGuest.css">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/headerFooter.js"></script>
    <script src="javascripts/VolunteerOpportunitiesGuest.js" defer></script>
</head>

<body>
    <div id="app">
        <header-component></header-component>
        <div class="contentWrapper">
            <!-- Page Title -->
            <h1 class="title">Volunteer Opportunities</h1>
            <!-- Search Bar -->
            <div class="searchBar">
                <select name="useTag" required id="categories">
                    <option value="" disabled selected>Select a Tag</option>
                    <option value="Aged Care">Aged Care</option>
                    <option value="Animal Shelter">Animal Shelter</option>
                    <option value="Food Bank">Food Bank</option>
                    <option value="Health">Health</option>
                    <option value="Youth Group">Youth Group</option>
                    <option value="Shelters">Shelters</option>
                    <option value="Ocean Cleanup">Ocean Cleanup</option>
                </select>
                <select class="commitmentSelect" id="commitment" name="commitment" required>
                    <option value="" disabled selected>Time Commitment</option>
                    <option value="Less than 1 hour">Less than 1 hour</option>
                    <option value="1-2 hours">1-2 hours</option>
                    <option value="2-4 hours">2-4 hours</option>
                    <option value="4+ hours">4+ hours</option>
                    <option value="Full day">Full day</option>
                    <option value="Weekly">Weekly</option>
                </select>
                <input id="location" type="text" placeholder="Location">
                <input @click="searchPosts" type="submit" value="Search">
            </div>
            <!-- Opportunities Box filled using AJAX, should be empty <p> tags -->

            <div id="noOppFound" style="color:red; font-weight:bold; margin-left:175px; margin-top: 50px;"
                v-if="results.length==0">No
                results match with your
                search</div>
            <button id="notFoundButton" v-if="results.length===0" @click="getAllOpportunities"
                style="background-color:#FC4A1A; border-radius:10px; padding:10px; margin-left:175px; margin-top:10px; color:white; font-weight:bold; border-style:none;">Show
                All
                Opportunities</button>

            <div v-for="post in results" :key="post.oppID" class="opportunityBox">
                <div class="contentLeft">
                    <a :href="generateLink(post)" class="organisationName"><b>{{ post.oppName }}</b></a>
                    <p>{{ post.orgName }} — {{ post.branchName}}</p>
                    <div class="tags">
                        <span v-for="tag in post.tags.split(',')" :key="tag.trim()" class="opportunityTag">{{ tag.trim()
                            }}</span>
                    </div>
                    <p>{{ post.description }}</p>
                </div>
                <div class="logoJoin">
                    <img :src="post.imgPath" alt="logo" class="miniLogo">
                </div>
            </div>

            <!-- footer -->
        </div>
        <footer-component></footer-component>
    </div>
</body>

</html>