
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Volunteer Opportunities</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/VolunteerOpportunitiesUser.css">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/headerFooter.js"></script>
    <script src="javascripts/VolunteerOpportunitiesUser.js" defer></script>
</head>

<body>
    <div id="app">
        <header-component></header-component>
        <div class="contentWrapper">
            <!-- Page Title -->
            <h1 class="title">Volunteer Opportunities</h1>
            <!-- Search Bar -->
            <div class="searchBar">
                <input id="categories" type="text" placeholder="Categories">
                <input id="commitment" type="text" placeholder="Time Commitment">
                <input id="location" type="text" placeholder="Location">
                <input onclick="searchPosts()" type="submit" value="Search">
            </div>
            <!-- Result and Page Count-->
            <p class="searchCount">{{ totalResults }} Search Results Match</p>
            <p class="pageCount">Page {{ currentPage }}/{{ totalPages }}</p>
            <!-- Opportunities Box filled using AJAX, should be empty <p> tags -->

            <div v-for="post in results" :key="post.oppID" class="opportunityBox">
                <div class="contentLeft">
                    <a :href="generateLink(post)" class="organisationName"><b>{{ post.oppName }}</b></a>
                    <p>{{ post.organisationName }}</p>
                    <div class="tags">
                        <span v-for="tag in post.tags.split(',')" :key="tag.trim()" class="opportunityTag">{{ tag.trim()
                            }}</span>
                    </div>
                    <p>{{ post.description }}</p>
                </div>
                <div class="logoJoin">
                    <img :src="post.thumbnail" alt="logo" class="miniLogo">
                </div>
            </div>


            <!-- Next Button -->
            <button class="nextButton" @click="nextPage" v-if="currentPage !== totalPages" :disabled="currentPage === totalPages">Next Page</button>
            <button class="prevButton" @click="prevPage" v-if="currentPage !== 1" :disabled="currentPage === 1">Previous Page</button>
            <!-- footer -->
        </div>
        <footer-component></footer-component>
    </div>
</body>

</html>