<!DOCTYPE html>
<html lang="en">
<!--  -->
<head>
    <title>Volunteer Opportunities</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/VolunteerOpportunitiesOrg.css">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/headerFooter.js"></script>
    <script src="javascripts/VolunteerOpportunitiesOrg.js" defer></script>
</head>

<body>
    <div id="app">
        <header-component></header-component>
        <div class="contentWrapper">
            <!-- Page Title -->
            <h1 class="title">Volunteer Opportunities</h1>
            <!-- Search Bar -->
            <div class="searchBar">
                <input id="categories" type="text" placeholder="Categories">
                <input id="commitment" type="text" placeholder="Time Commitment">
                <input id="location" type="text" placeholder="Location">
                <input onclick="showPosts()" type="submit" value="Search">
            </div>

            <div class="contentHold">
                <div class="contentLeft">
                    <div class="dropdown">
                        <select class="dropbtn" v-model="selectedBranch" @change="choseBranch($event)">
                            <option value="-1" selected>All Branches</option>
                            <option v-for="branch in branches" :key="branch.branchID" :value="{ branchID: branch.branchID, branchName: branch.branchName }">{{ branch.branchName }}</option>
                        </select>
                    </div>

                    <!-- Result and Page Count-->
                    <div id="searchMatchInfo">
                        <p class="searchCount">{{ totalResults }} Search Results Match</p>
                        <p class="pageCount">Page {{ currentPage }}/{{ totalPages }}</p>
                    </div>

                    <!-- Opportunities Box filled using AJAX, should be empty <p> tags -->

                    <div v-if="savedResults.length != 0" v-for="post in results" :key="post.oppID" class="opportunityBox">
                        <div class="contentLeft">
                            <a :href="generateLink(post)" class="organisationName"><b>{{ post.oppName }}</b></a>
                            <p>{{ post.organisationName }}</p>
                            <div class="tags">
                                <span v-for="tag in post.tags.split(',')" :key="tag.trim()" class="opportunityTag">{{ tag.trim()
                                    }}</span>
                            </div>
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="logoJoin">
                            <img :src="post.imgPath" alt="logo" class="miniLogo">
                        </div>
                    </div>

                </div>
                <div>
                    <button class="postButton" type="submit" @click="createPost">Create Post</button>
                </div>


            </div>
            <!-- Next Button -->
            <button class="nextButton" @click="nextPage" v-if="currentPage !== totalPages" :disabled="currentPage === totalPages" type="submit">Next Page</button>
            <button class="prevButton" @click="prevPage" v-if="currentPage !== 1" :disabled="currentPage === 1" type="submit">Previous Page</button>
        </div>
        <!-- footer -->
        <footer-component></footer-component>
    </div>
</body>

</html>